<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="[[=URL('static')]]/">
    <!--link rel="stylesheet" href="css/no.css"-->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/custom.css">
    <script src="js/jquery.js"></script>
   <script src="https://unpkg.com/htmx.org@1.5.0"></script>

    <style>.py4web-validation-error{margin-top:-16px; font-size:0.8em;color:red}</style>
    [[block page_head]]<!-- individual pages can customize header here -->[[end]]
    [[load_graph=False]]
  </head>
  <body>
    <header>

    </header>
    <!-- beginning of HTML inserted by extending template -->
     <!-- Flash normally here - moved to end as not auto closing-->

     <!-- class="padded" -- not convinced I want this-->
      <main>
        <!-- contect injected by extending page -->
        [[include]]
      </main>

      <div>
        <!-- Flash alert messages, first optional one in data-alert -->
        <flash-alerts id="alertarea" class="padded" data-alert="[[=globals().get('flash','')]]"></flash-alerts>
      </div>
    <!-- end of HTML inserted by extending template -->
    <footer class="bg-dark text-white">
      <p>
        Made with py4web
      </p>
    </footer>
  </body>
  
  <!-- You've gotta have utils.js -->
  <script src="js/utils.js"></script>
  <script src="js/axios.min.js"></script>
  <script src="js/vue.min.js"></script>
  <script src="js/sugar.min.js"></script>
  <script src="js/bootstrap.js"></script>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  [[if load_graph:]]
    <script src="js/graphd3v4.js"></script>
  [[pass]]

    [[if globals().get('flash'):]]
<script>Q.flash([[=XML(flash)]]);</script>
[[pass]]

  [[block page_scripts]]<!-- individual pages can add scripts here -->[[end]]
</html>
